<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MasterAPIScheme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B9F40DA1CC67B0D005C4716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF90C461D7D4971004365B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF90C991D7D53FD004365B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF90CAB1D7D54D3004365B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF90D171D7D6D2A004365B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF90D241D7D6D57004365B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
